.starter-header {
    padding: 3rem 1.5rem;
    text-align: left;
}

#logo{
    width: 60px;
    height: 60px;
    font-family: 'BebasNeue-Regular', sans-serif;
}

.jumbotron {
    text-align: left;
    background-image: url(/img/luis-llerena-16146-compressor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.jumbotron h1{
    color: #fff;
    text-shadow: 1px 1px 3px #333;
}

.jumbotron h3 {
    color: #fff;
    text-shadow: 1px 1px 3px #333;
}

h1 {
    font-size: 72px;
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #5D656C;
}

h2::after{
    content: " ";
    width: 100px;
    margin-top: 1rem;
    display: block;
    height: 3px;
    background-color: #CF1332;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: #3A4046;
}


.contentHeader {
    margin-top: 50px;
    margin-bottom: 50px;
}

.vert-align {
    margin-top: auto;
    margin-bottom: auto;
}

.aboutIcons {
    height: 50px;
    width: 50px;
}

.profilePic {
  border-radius: 15px 50px;
}

.icon{
  fill: #5D656C;
}

/* Media Queries */
@media (max-width: 500px) {

  .jumbotron h1{
    margin: 0px;
  }

    .jumbotron h3 {
        margin: 0px;
    }

    .display-4 {
        font-size: 2rem;
        margin: 0px;
    }
    
    #logo {
        margin-left: 0;
    }
    
    .content {
        height: 450px;
    }
}


@media (max-width: 768px) {
  .jumbotron h1{
    margin: 0px;
  }

    .jumbotron h3 {
        margin: 0px;
    }

    .display-4 {
        font-size: 2rem;
        margin: 0px;
    }
    
    #logo {
        margin-left: 1.5rem;
    }
    .content {
    height: 350px;
}
}

@media (max-width: 1015px) {
  .content {
    height: 500px;
    }
    
    #logo {
        margin-left: 3.5rem;
    }
}
